
<div id="relstats">
<hr>
<h3>Relevant Statistics</h3>
{% if page.possiblevotes %}
<p>Vote population: {{ page.possiblevotes }}</p>
{% endif %}
{% if page.countedvotes %}
<p>Counted votes: {{ page.countedvotes }}</p>
{% endif %}
{% if page.yesvotes %}
<p>Yes votes: {{ page.yesvotes }}</p>
{% endif %}
{% if page.novotes %}
<p>No votes: {{ page.novotes }}</p>
{% endif %}
{% if page.deadline %}
<p>Deadline: {{ page.deadline }}</p>
{% endif %}

<!--will always show the status of a vote-->

{% if page.status == "Approved" %}
<p id="statusapproved">Status: {{ page.status }}</p>
{% elsif page.status == "Denied" %}
<p id="statusdenied">Status: {{ page.status }}</p>
{% else %}
<p id="statusunknown">Status: Processing or unknown</p>
{% endif %}

<hr>
</div>
<!--maybe make it so the status is green if approved, red if denied-->
