header {
    color: green;
}


/* Make the color scheme light colored */

body {
    background-color: #FFFFFF;
    color: #000000;

    /* Add padding and margins for the text */
    padding: 10px;
    margin: 10px;



}

