

<!DOCTYPE html>
<html lang="en" data-theme="dark-poole">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/_base.css">
    <title>
        {{ page.title }} &middot; {{ site.title }}
    </title>

  </head>

  <body>
    <div class="container content">
      <header class="masthead">
        <h3>{{ page.title }}</h3>
      </header>

      <main>
        {{ content }}
      </main>

  </body>
</html>